.main {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
  }
  
  .center-container {
    background-image: url(https://img.freepik.com/free-photo/white-clouds-blue-background_23-2148964575.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:400px;
    height: 600px;   
    border-radius: 20px;
    font-weight: 900;
    box-shadow: 9px 5px 15px rgba(16, 8, 28, 20);
}